@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lato:wght@300&family=Open+Sans:wght@300&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: calc(100vh - 240px);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: antiquewhite
  }

.slogan {
  font-style: italic;
}